@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto+Mono&family=Roboto+Slab&display=swap");

// Include any default variable overrides here (though functions won't be available)
$form-switch-color: rgb(86, 86, 86);
$form-switch-focus-color: rgb(86, 86, 86);
$form-switch-checked-color: white;

$form-check-input-checked-bg-color: rgb(86, 86, 86);

@import "../node_modules/bootstrap/scss/bootstrap";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

// Then add additional custom code here
body {
  font-family: "Roboto Slab", serif;
}

.Serif {
  font-family: "Roboto Slab", serif;
}

.Sans-Serif {
  font-family: "Lato", sans-serif;
}

.Monospace {
  font-family: "Roboto Mono", monospace;
}
.font-btn {
  border: none;
}

.custom-input:focus {
  box-shadow: none;
}

.container {
  max-width: 900px;
}

.custom-divider {
  height: 2px;
  background-color: rgb(219, 219, 219);
}

.play-btn {
  background-color: rgba(77, 103, 234, 0.432);
}

.form-check-input {
  cursor: pointer;
  box-shadow: none;
}

.bi.bi-search {
  cursor: pointer;
}

.source {
  font-size: 0.8em;
}
